<nav>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button id="site-logo" type="menu" mat-button [routerLink]="'/home'"><span>Cocktail DB </span><mat-icon>local_bar</mat-icon></button>
          <div>
            <button color="accent" type="button" mat-button [routerLink]="'/cocktails'"> Search for Cocktails </button>
            <button color="accent" type="button" mat-button [routerLink]="'/ingredients'"> Search for Ingredients </button>
          </div>
        </mat-toolbar-row>
  </mat-toolbar>
</nav>
