<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon>local_bar</mat-icon><span>Cocktail DB</span>
        <div>
          <button color="accent" type="button" mat-button [routerLink]="'/cocktails'"> Cocktails </button>
          <button color="accent" type="button" mat-button [routerLink]="'/ingredients'"> Ingredients </button>
          <button color="accent" type="button" mat-button [routerLink]="'/categories'"> Categories </button>
        </div>
      </mat-toolbar-row>
</mat-toolbar>
