<div class="form-container">
    <div class="searches-container">
        <form (submit)="submitNameSearch()">
            <div class="search-item">
                <mat-form-field>
                    <mat-label>Search by Name</mat-label>
                    <input type="text" matInput [formControl]="cocktailSearch" placeholder="Find New Cocktails!">
                </mat-form-field>
                <button type="button" (click)="submitNameSearch()" mat-button>Search Names<mat-icon>local_bar</mat-icon>
                </button>
            </div>
        </form>
        <form (submit)="submitIngredientSearch()">
            <div class="search-item">
                <mat-form-field>
                <mat-label>Search by Ingredient</mat-label>
                    <mat-select matNativeControl [formControl]="ingredientSearch">
                        <mat-option *ngFor="let item of ingredientsList" [value]="item.Name">{{item.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>  
                <button type="button" (click)="submitIngredientSearch()" mat-button>Search Ingredients<mat-icon>shopping_cart</mat-icon></button>
            </div>
        </form>
        <form submit="submitCategorySearch()">
            <div class="search-item">
                <mat-form-field>
                    <mat-label>Search by Category</mat-label>
                    <mat-label>Search by Ingredient</mat-label>
                    <mat-select matNativeControl [formControl]="categorySearch">
                        <mat-option *ngFor="let item of categoryList" [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>  
                <button type="button" (click)="submitCategorySearch()" mat-button>Search Categories<mat-icon>subject</mat-icon></button>
            </div>
        </form>
    </div>
    <div class="filters-container">
        <button id="alphabetical-sort" class="filter-field" type="button" mat-raised-button
            (click)="sortAlphabetically()">
            A-Z
        </button>
        <mat-form-field class="filter-field">
            <mat-label>Filter Results</mat-label>
            <input type="text" matInput [(ngModel)]="cocktailFilter">
        </mat-form-field>
    </div>
</div>

<div *ngIf="isResults" class="cocktailList-container">
    <div id="{{drink.Id}}" class="card-wrapper" *ngFor="let drink of cocktailList" color="primary"
        (click)="cardClicked(drink.Id)">
        <mat-card
            [ngStyle]="{'display': (drink.Name.toLowerCase().includes(cocktailFilter.toLowerCase())) ? 'flex' : 'none'}">
            <div class="card-header-container">
                <mat-card-header>
                    <mat-card-title>{{drink.Name}}</mat-card-title>
                    <mat-card-subtitle>Id: {{drink.Id}}</mat-card-subtitle>
                    <mat-icon class="icon-display">add_circle_outline</mat-icon>
                </mat-card-header>
                <img mat-card-image src="{{drink.DrinkThumbnail}}" alt="Photo of the Cocktail">
            </div>
        </mat-card>
    </div>
</div>
<div class="no-results" *ngIf="!isResults">
    <h1>No results found, try again.</h1>
</div>